In [2]:
import mysql.connector
#importing database
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="student"
)
db = database.cursor()

db.execute("SELECT * FROM python_student")
result = db.fetchall()
for x in result:
    print(x)

(1, 'Ram Prasad', 1, 78, 76, 89, 78, 98, 460, 83.0, 'A')
(2, 'Ram Bahadur', 2, 77, 89, 77, 65, 87, 490, 87.0, 'A')
(3, 'Shyam Bahadur', 3, 77, 89, 77, 65, 87, 490, 87.0, 'A')