In [16]:
import mysql.connector
#importing database
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="student"
)
db = database.cursor()

db.execute("SELECT * FROM python_student")
result = db.fetchall()
for x in result:
    print(x)

(1, 'Ram Prasad', 1, 78, 76, 89, 78, 98, 460, 83.0, 'A')
(2, 'Ram Bahadur', 2, 77, 89, 77, 65, 87, 490, 87.0, 'A')
(3, 'Shyam Bahadur', 3, 77, 89, 77, 65, 87, 490, 87.0, 'A')
(4, 'Sita', 4, 88, 89, 90, 87, 68, 500, 92.0, 'A')

In [17]:
db.execute("SELECT Sn,Name,Grade FROM python_student")
result = db.fetchall()
for x in result:
    print(x)

(1, 'Ram Prasad', 'A')
(2, 'Ram Bahadur', 'A')
(3, 'Shyam Bahadur', 'A')
(4, 'Sita', 'A')

In [24]:
import mysql.connector
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="student"
)
db = database.cursor()

sql ="INSERT INTO python_student(Name,Roll,Physics,Chemistry,Math,English,Nepali,Total,Percentage,Grade) VALUES ('Gita',7,88,89,90,87,68,500,92,'A')"
db.execute(sql)
database.commit()
print(db.rowcount,"row inserted")

1 row inserted

In [3]:
n = int(input("Enter n = "))
for i in range(n):
    name = input("name = ")
    Roll = int(input("Roll = "))
    Physics = int(input("Physics = "))
    Chemistry = int(input("Chemistry = "))
    Math = int(input("Math = "))
    English = int(input("English = "))
    Nepali = int(input("Nepali = "))
    Total = int(input("Total = "))
    Percentage = int(input("Percentage = "))
    Grade = input("Grade = ")
    
    sql = f"INSERT INTO python_student(Name, Roll, Physics, Chemistry, Math, English, Nepali, Total, Percentage, Grade) VALUES ('{name}',{roll},{physics},{chemistry},{math},{nepali},{total},{per},'{grade}')"
    db.execute(sql)

database.commit()
print(db.rowcount, "record inserted.")

Enter n = 1
name = Hari
Roll = 9
Physics = 88
Chemistry = 88
Math = 88
English = 88
Nepali = 88
Total = 88
Percentage = 88
Grade = A

NameError: name 'roll' is not defined