In [3]:
import mysql.connector
#importing database
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="student"
)
db = database.cursor()

n = int(input("Enter n = "))
for i in range(n):
    name = input("name = ")
    roll = int(input("Roll = "))
    physics = int(input("Physics = "))
    chemistry = int(input("Chemistry = "))
    math = int(input("Math = "))
    english = int(input("English = "))
    nepali = int(input("Nepali = "))
    total = sum([physics,chemistry,math,english,nepali])
    per = total/5
    if per>=80:
        grade = "A"
    elif per>=60:
        grade = "B"
    elif per>=45:
        grade = "C"
    else:
        grade = "F"
    
    sql = f"INSERT INTO python_student(Name, Roll, Physics, Chemistry, Math, English, Nepali, Total, Percentage, Grade) VALUES ('{name}',{roll},{physics},{chemistry},{math},{english},{nepali},{total},{per},'{grade}')"
    db.execute(sql)

database.commit()
print(db.rowcount, "record inserted.")

Enter n = 1
name = Bishnu
Roll = 9
Physics = 78
Chemistry = 75
Math = 60
English = 50
Nepali = 50
1 record inserted.

In [8]:
# Update MySQL
import mysql.connector
database = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="student"
)
mycursor = database.cursor()

sql = "UPDATE python_student SET name = 'Ram Prasad' WHERE Name = 'Ram'"
mycursor.execute(sql)
database.commit()

In [ ]:
import mysql.connector
db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="student"
)

mycursor = db.cursor()
mycursor.execute("SELECT Total,Percentage,Grade,Physics FROM python_student WHERE Roll = 1")
result = mycursor.fetchall()
data = result[0]
total,per,grade,physics = data
subject = input("Enter Subject = ")
new_physics  = int(input("Enter new marks = "))
difference = new_physics-physics
new_total = total+difference
new_per = new_total/5

if new_per>=80:
    new_grade = "A"
elif new_per>=60:
    new_grade = "B"
elif new_per>=45:
    new_grade = "C"
else:
    new_grade ="F"