In [ ]:
# Dictionary
# a = {<key>:<value>,<key>:<value>}
# Indexed
# Ordered
# Duplicate values but no index
# Mutable

In [1]:
a = {'a':'Apple','b':'Ball','c':'Cat','d':'Dog'}
print(a)
print(len(a))

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}
4

In [2]:
a = {'a':'Apple','b':'Ball','c':'Cat','d':'Dog'}
print(a['c'])

Cat

In [3]:
a = {'a':'Apple','b':'Ball','c':'Cat','d':'Dog'}
for i in a:
    print(i)

a
b
c
d

In [5]:
a = {'a':'Apple','b':'Ball','c':'Cat','d':'Dog'}
for i in a.values():
    print(i)

Apple
Ball
Cat
Dog

In [6]:
a = {'a':'Apple','b':'Ball','c':'Cat','d':'Dog'}
for i in a.items():
    print(i)

('a', 'Apple')
('b', 'Ball')
('c', 'Cat')
('d', 'Dog')

In [8]:
b = []
a = {'a':'Apple','b':'Ball','c':'Cat','d':'Dog'}
for i in a.items():
    b.append(i)

print(b)

[('a', 'Apple'), ('b', 'Ball'), ('c', 'Cat'), ('d', 'Dog')]

In [9]:
dict(b)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog'}

In [10]:
a = {'a':'Apple','b':'Ball','c':'Cat','c':'Cattle'}
print(a)
print(type(a))

{'a': 'Apple', 'b': 'Ball', 'c': 'Cattle'}
<class 'dict'>

In [11]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    d[name] = phone

print(d)

Enter n = 2
Enter name = Ram
Enter phone = 3333
Enter name = Shyam
Enter phone = 5555
{'Ram': 3333, 'Shyam': 5555}

In [12]:
a = {'Ram': 1111,'Shyam': 2222}
b = {'Hari': 3333}
a.update(b)
print(a)

{'Ram': 1111, 'Shyam': 2222, 'Hari': 3333}

In [13]:
# del pop()
a = {'Ram':1111,'Shyam':2222,'Hari':3333}
del a['Ram']
print(a)

{'Shyam': 2222, 'Hari': 3333}

In [14]:
a = {'Ram':1111,'Shyam':2222,'Hari':3333}
b = a.pop('Ram')
print(a)
print(b)

{'Shyam': 2222, 'Hari': 3333}
1111

In [16]:
a = {1:1111,'Shyam':2222,'Hari':3333}
print(a[1])

1111

In [17]:
# list can't be a key
a = {['Sita','Gita']:1111, 'Shyam':2222, 'Hari':3333}
print(a)

TypeError: unhashable type: 'list'

In [18]:
# tuple can be a key
a = {('Sita','Gita'):1111, 'Shyam':2222, 'Hari':3333}
print(a)

{('Sita', 'Gita'): 1111, 'Shyam': 2222, 'Hari': 3333}

In [30]:
a = {('Sita','Gita'):1111, 'Shyam':2222, 'Hari':3333}
print(a[('Sita','Gita')])

1111

In [25]:
# list inside dict
a = {'Sita': [1111,2222]}
b = {'Shyam': [3333,4444]}
c = {'Hari':[5555,6666]}
print(a)
print(a['Sita'][0])
print(a['Sita'][1])

{'Sita': [1111, 2222]}
1111
2222

In [31]:
a = {'Sita': [9856556543, 9856556543], 
 'Shyam': [9856554543, 9856554543], 
 'Hari': [9856556543, 9856554543]}
print(a)

{'Sita': [9856556543, 9856556543], 'Shyam': [9856554543, 9856554543], 'Hari': [9856556543, 9856554543]}

In [32]:
a['Gita'] = [1111,5555]
print(a)

{'Sita': [9856556543, 9856556543], 'Shyam': [9856554543, 9856554543], 'Hari': [9856556543, 9856554543], 'Gita': [1111, 5555]}

In [28]:
# dict inside list
d = dict()
l = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add =")
    d = {"Name":name,"Age": age, "Address":add}
    l.append(d)
print(l)

Enter n = 2
Enter name = Ram
Enter age = 34
Enter add =KTM
Enter name = Shyam
Enter age = 44
Enter add =Patan
[{'Name': 'Ram', 'Age': 34, 'Address': 'KTM'}, {'Name': 'Shyam', 'Age': 44, 'Address': 'Patan'}]

In [33]:
# dict into list
b = []
a = {1: 1234, 'Shyam': 2345, 'Hari': 5432}
for i in a.items():
    x = list(i)
    b.append(x)
print(b)

[[1, 1234], ['Shyam', 2345], ['Hari', 5432]]

In [34]:
# list into dict
b[0][0] = 'Nabin'
dict(b)

{'Nabin': 1234, 'Shyam': 2345, 'Hari': 5432}