In [ ]:
# List contd..
# append() insert() extend()

In [1]:
a = []
b = "Apple"
a.append(b)
print(a)

['Apple']

In [2]:
a = ["Apple","Ball","Cat","Dog"]
b = "Apple"
a.insert(1,b)
print(a)

['Apple', 'Apple', 'Ball', 'Cat', 'Dog']

In [3]:
a = ["Apple","Ball","Cat","Dog"]
b = ["Fish","Goat"]
a.extend(b)
print(a)

['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Goat']

In [5]:
# WAP to make a list
a = []
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter name = ")
    # a = a+[name]
    a.append(x)
    
print(a)

Enter n = 2
Enter name = Apple
Enter name = Ball
['Apple', 'Ball']

In [7]:
# index()
a = ["Apple","Ball","Cat","Dog","Apple"]
print(a.index("Apple"))

0

In [9]:
# index()
a = ["Apple","Ball","Cat","Dog","Apple"]
for i in range(len(a)):
    if a[i] == "Apple":
        print(i)

0
4

In [ ]:
# del remove() pop()

In [10]:
a = ["Apple","Ball","Cat","Dog","Apple"]
del a[0]
print(a)

['Ball', 'Cat', 'Dog', 'Apple']

In [11]:
a = ["Apple","Ball","Cat","Dog","Apple"]
del a[0:4]
print(a)

['Apple']

In [12]:
a = ["Apple","Ball","Cat","Dog","Apple"]
a.remove("Ball")
print(a)

['Apple', 'Cat', 'Dog', 'Apple']

In [13]:
# pop()
a = ["Apple","Ball","Cat","Dog","Apple","Ball"]
a.pop(3)
print(a)

['Apple', 'Ball', 'Cat', 'Apple', 'Ball']

In [14]:
a = ["Apple","Ball","Cat","Dog","Apple"]
a.pop()
print(a)

['Apple', 'Ball', 'Cat', 'Dog']

In [17]:
a = ["Apple","Ball","Cat","Dog","Apple","Ball","Ball"]
for i in a:
    if i == "Ball":
        a.remove("Ball")
print(a)

['Apple', 'Cat', 'Dog', 'Apple', 'Ball']

In [ ]:
# update()
a = ["Apple","Ball","Cat","Dog","Apple","Ball"]

In [20]:
# list inside list
a = [[1,2,3],[4,5,6],[7,8,9]]
print(a)
print(a[0])
print(a[0][0])
print(type(a))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3]
1
<class 'list'>

In [21]:
# WAP to make a list
a = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = input("Enter age = ")
    add = input("Enter add = ")
    a.append([name,age,add])
print(a)

Enter n = 2
ENter name = Ram
Enter age = 40
Enter add = Katm
ENter name = Shyam
Enter age = 34
Enter add = Pokhara
[['Ram', '40', 'Katm'], ['Shyam', '34', 'Pokhara']]

In [22]:
a = [['Ram', '40', 'Katm'], ['Shyam', '34', 'Pokhara']]
for i in a:
    print(i)

['Ram', '40', 'Katm']
['Shyam', '34', 'Pokhara']

In [23]:
a = [['Ram', '40', 'Katm'], ['Shyam', '34', 'Pokhara']]
name = input("Enter name = ")
for i in a:
    if name in i:
        print(i)

Enter name = Ram
['Ram', '40', 'Katm']

In [1]:
a = [['Ram', '40', 'Katm'], ['Shyam', '34', 'Pokhara']]
name = input("Enter name = ").lower()
for i in a:
    for j in i:
        if j.lower() == name:
            print(i)

Enter name = SHYAM
['Shyam', '34', 'Pokhara']

In [2]:
name = "Ram"
index = []
a = [['Ram', '40', 'Katm'], ['Shyam', '34', 'Pokhara']]
for i in range(len(a)):
    if name in a[i]:
        index.append(i)

print(index)

[0]

In [5]:
# update
a = [['Ram', '40', 'Katm'], ['Shyam', '34', 'Pokhara']]
a[0][0] = "Rama"
a[1][0] = "Sita"
print(a)

[['Rama', '40', 'Katm'], ['Sita', '34', 'Pokhara']]

In [ ]:
# WAP for a matrix input
# WAP for a billing application

In [ ]:
qty = int(input("Enter qty = "))
item = input("Item = ")
price = int(input("price = "))