In [ ]:
# Python collection:
# List
# Tuple
# Set
# Dictionary

In [ ]:
# List
# -Indexing
# -Duplicate values
# -Ordered
# -Mutable

In [ ]:
# a = []
# b = list()

In [2]:
a = ["Apple","Ball","Cat","Dog"]
b = [1,2,3,4,5,6]
print(a)
print(b)
print(type(a))
print(type(b))

['Apple', 'Ball', 'Cat', 'Dog']
[1, 2, 3, 4, 5, 6]
<class 'list'>
<class 'list'>

In [5]:
a = ["Apple","Ball","Cat","Dog"]
print(a[3])
print(len(a))

Dog
4

In [8]:
a = ["Apple","Ball","Cat","Dog",1,2,3,4,5,6,7,8,9]
print(a[0:3])
print(a[0:15:2])

['Apple', 'Ball', 'Cat']
['Apple', 'Cat', 1, 3, 5, 7, 9]

In [10]:
a = ["Apple","Ball","Cat","Dog"]
b = [1,2,3,4,5,6]
c = a+b
print(c)
print(a*2)

['Apple', 'Ball', 'Cat', 'Dog', 1, 2, 3, 4, 5, 6]
['Apple', 'Ball', 'Cat', 'Dog', 'Apple', 'Ball', 'Cat', 'Dog']

In [11]:
# Mutable 
a = ["Apple","Ball","Cat","Dog"]
a[0] = 'Ant'
print(a)

['Ant', 'Ball', 'Cat', 'Dog']

In [13]:
# WAP to make a list
a = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    a = a+[name]       # convert name str to name list to concat
    
print(a)

Enter n = 3
Enter name = Ram
Enter name = Shyam
Enter name = Hari
['Ram', 'Shyam ', 'Hari']

In [12]:
a = []
b = ["Ram"]
c = ["Sita"]
a+b+c

['Ram', 'Sita']

In [14]:
a = ['Ant','Ball','Cat','Dog']
for i in a:
    print(i)

Ant
Ball
Cat
Dog

In [17]:
a = ['Ant','Ball','Cat','Dog']
for i in range(len(a)):
    print(i,a[i])

0 Ant
1 Ball
2 Cat
3 Dog

In [18]:
a = ['Ant','Ball','Cat','Dog']
for i in a:
    if i == 'Ball':
        continue
    print(i)

Ant
Cat
Dog

In [19]:
a = ['Ant','Ball','Cat','Dog']
for i in a:
    if i == 'Ball':
        break
    print(i)

Ant

In [21]:
# WAP to make a list
a = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    a = a+[name]       # convert name str to name list to concat
    
print(a)
type(a[0])

Enter n = 5
Enter name = Ram
Enter name = Shyam
Enter name = Hari
Enter name = Shiva
Enter name = Krishna
['Ram', 'Shyam', 'Hari', 'Shiva', 'Krishna']

str

In [22]:
a = ['Ram','Shyam','Hari','Akash','Nabin']
a.sort()    #alphabetically 
print(a)

['Akash', 'Hari', 'Nabin', 'Ram', 'Shyam']

In [1]:
# WAP to make a list
a = []
n = int(input("Enter n = "))
for i in range(n):
    name = int(input("Enter name = "))
    a = a+[name]       
    
print(a)
type(a[0])

Enter n = 5
Enter name = 111
Enter name = 222
Enter name = 333
Enter name = 444
Enter name = 555
[111, 222, 333, 444, 555]

int

In [4]:
print('The sum is',sum(a))
print('The max value is',max(a))
print('the min value is',min(a))

The sum is 1665
The max value is 555
the min value is 111

In [5]:
print(a)
a.reverse()
print(a)

[111, 222, 333, 444, 555]
[555, 444, 333, 222, 111]

In [6]:
a = ['Ram','Shyam','Hari','Akash','Nabin']
if 'Hari' in a:
    print("Yes",a.count('Hari'))

Yes 1