In [1]:
f = open('data.txt','r')
b = f.read()
c = b.split('\n')
line_no = int(input("Enter line no = "))
print(c[line_no-1])
f.close()

Enter line no = 1
1. Hello World

In [2]:
f = open('data.txt','a')
b = f.write('\nHello World\n')
f.close()

In [3]:
info = ""
add = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter product name = ")
    price = int((input("Enter unit price = ")))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    s = f"{name} {price} {quantity} {total}\n"
    info = info+s
    add = add+total
    
print("the billing is = \n",info)
print("the total price is = ",add)

f = open('bill.txt','a')
b = f.write(info)
f.close()

Enter n = 2
Enter product name = Apple
Enter unit price = 3
Enter quantity = 20
Enter product name = Orange
Enter unit price = 5
Enter quantity = 30
the billing is =
 Apple 3 20 60
Orange 5 30 150

the total price is =  210

In [4]:
info = ""
add = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter product name = ")
    price = int((input("Enter unit price = ")))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    s = f"{name},{price},{quantity},{total}\n"
    info = info+s
    add = add+total
    
print("the billing is = \n",info)
print("the total price is = ",add)

f = open('bill.csv','w')
b = f.write(info)
f.close()

Enter n = 2
Enter product name = Apple
Enter unit price = 4
Enter quantity = 10
Enter product name = Orange
Enter unit price = 5
Enter quantity = 15
the billing is =
 Apple,4,10,40
Orange,5,15,75

the total price is =  115

In [5]:
file = open('bill.csv')
print(file.read())
file.close()

Apple,4,10,40
Orange,5,15,75

In [6]:
import pandas as pd
df = pd.read_csv('bill.csv')
df

    Apple  4  10  40
0  Orange  5  15  75