In [ ]:
# string -- imutable datatype

In [1]:
a = "Hello World"
for i in a:
    print(i, end = "")

Hello World

In [2]:
a = "Hello World"
for i in range(len(a)):
    print(a[i], end= "")

Hello World

In [3]:
a = "Hello"
b = "World"
c = a+b
print(c)

HelloWorld

In [5]:
info = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    s = name + " " + phone +'\n'
    info = info+s

print(info)

Enter n = 2
Enter name = Ram
Enter phone = 333
Enter name = Shyam
Enter phone = 555
Ram 333
Shyam 555

In [6]:
# string formatting
name = "Ram"
phone = 9856554455
info = f"Hello My name is {name} My phone no is {phone}."
print(info)

Hello My name is Ram My phone no is 9856554455.

In [7]:
# string formatting
info = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    s = f"{name} {phone}\n"
    info = info+s

print(info)

Enter n = 2
Enter name = Ram
Enter phone = 444
Enter name = Shyam
Enter phone = 222
Ram 444
Shyam 222

In [10]:
# search
a = "Ram Shyam Hari Sita Binita Bardan Ram Sita Gita Ram"
name = input("Enter name = ")
if name in a:
    print("Yes")
    print(a.count("Ram"))
else:
    print(f"Sorry there is no any {name}")

Enter name = Ram
Yes
3

In [11]:
# upper, lower case
a = "Ram Shyam Hari Sita Binita Bardan Ram Sita Gita Ram"
print(a.upper())
print(a.lower())
print(a)

RAM SHYAM HARI SITA BINITA BARDAN RAM SITA GITA RAM
ram shyam hari sita binita bardan ram sita gita ram
Ram Shyam Hari Sita Binita Bardan Ram Sita Gita Ram

In [20]:
a = "Ram Shyam Hari Sita Binita Bardan Ram Sita Gita Ram"
a_lower=a.lower()
name = input("Enter name = ")
name_lower = name.lower()
if name_lower in a.lower():
    print("Yes")
    print(a_lower.count(name_lower))
else:
    print(f"Sorry there is no any {name_lower}")

Enter name = Ram
Yes
3

In [16]:
a = "Hello World"
a[0].isupper()

True

In [19]:
a = "HELLO WORLd"
a.isupper()

False

In [ ]:
# replace and update

In [22]:
a = "Ram Shyam Hari Sita Binita Bardan Ram Sita Gita Ram"
print(a)
a = a.replace("Ram","Rama")
print(a)

Ram Shyam Hari Sita Binita Bardan Ram Sita Gita Ram
Rama Shyam Hari Sita Binita Bardan Rama Sita Gita Rama

In [23]:
a = "Ram Shyam Hari Sita Binita Bardan Ram Sita Gita Ram"
name = input("Enter name = ")
replace = input("Enter replace name = ")
a = a.replace(name,replace)
print(a)

Enter name = Ram
Enter replace name = Rama
Rama Shyam Hari Sita Binita Bardan Rama Sita Gita Rama

In [25]:
# list
a = "Ram Shyam Hari Sita Binita Bardan"
a.split()

['Ram', 'Shyam', 'Hari', 'Sita', 'Binita', 'Bardan']

In [26]:
a = "Ram.Shyam.Hari.Sita.Binita.Bardan"
a.split('.')

['Ram', 'Shyam', 'Hari', 'Sita', 'Binita', 'Bardan']

In [27]:
a = "Ram Shyam Hari Sita Binita Bardan Ram Sita Gita Ram"
name = input("Enter name = ")
a = a.replace(name,'')
print(a)

Enter name = Ram
 Shyam Hari Sita Binita Bardan  Sita Gita

In [29]:
info = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    s = f"{name} {phone}\n"
    info = info+s

print(info)

Enter n = 2
Enter name = Ram
Enter phone = 3333333
Enter name = Shyam
Enter phone = 555555
Ram 3333333
Shyam 555555

In [33]:
z = info.split('\n')
z

['Ram 3333333', 'Shyam 555555', '']

In [34]:
z[0]

'Ram 3333333'