In [ ]:
# for
# while

In [ ]:
# for
# range()
# range(5)    # 0 1 2 3 4     for(i=0; i<5; i=i+1)
# range(1,5)  # 1 2 3 4       for(i=1; i<5; i=i+1)
# range(1,10,2) # 1 3 5 7 9   for(i=1; i<10; i=i+2)

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
for i in range(5):
    print(i, "Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [3]:
for i in range(1,5):
    print(i,"Hello World")

1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [5]:
for i in range(0,5,2):
    print(i,"Hello World")

0 Hello World
2 Hello World
4 Hello World

In [7]:
n = int(input("Enter n = "))
for i in range(n):
    print(i,"Hello World")

Enter n = 5
0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [12]:
s = 0
n = int(input("Enter n = "))
for i in range(n):
    m = int(input("Enter m = "))
    s = s+m
    print(s)
    
print("Total sum =",s)

Enter n = 5
Enter m = 10
10
Enter m = 2
12
Enter m = 4
16
Enter m = 5
21
Enter m = 7
28
Total sum = 28

In [20]:
# factorial  4! = 1*2*3*4  
fac = 1
n = int(input('Enter n = '))
for i in range(1,n+1):
    fac = fac*i

print("Factorial of",n,"=",fac)

Enter n = 4
Factorial of 4 = 24

In [21]:
# multiplication table
n = int(input("Enter n ="))
for i in range(1,11):
    print(n,'*',i,'=',n*i)

Enter n =5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [24]:
# string str()
s = str()
n = int(input('Enter n ='))
for i in range(1,n+1):
    name = input('Enter name =')
    s = s+name+'\n'
    
print(s)

Enter n =3
Enter name =Ram
Enter name =Shyam
Enter name =Hari
Ram
Shyam
Hari

In [27]:
s = str()
n = int(input('Enter n ='))
for i in range(1,n+1):
    name = input('Enter name =')
    phone = input('Enter phone =')
    s = s+'name ='+name+' phone ='+phone+'\n'
    
print(s)

Enter n =3
Enter name =Ram
Enter phone =222222
Enter name =Shyam
Enter phone =444444
Enter name =Hari
Enter phone =777777
name =Ram phone =222222
name =Shyam phone =444444
name =Hari phone =777777

In [28]:
# even numbers
n = int(input('Enter n ='))
for i in range(n):
    if i%2 == 0:
        print(i)

Enter n =10
0
2
4
6
8

In [29]:
a = 'Hello World'
for i in a:
    print(i)

H
e
l
l
o

W
o
r
l
d

In [30]:
a = 'Hello World'
for i in a:
    print(i,end = "")

Hello World

In [33]:
a = 'Hello World'
for i in a:
    if i != " ":
        print(i,end = "")

HelloWorld

In [36]:
a = 'Hello World'
a[0],a[4]

('H', 'o')

In [37]:
a = 'Hello World'
n = len(a)
for i in range(n):
    print(a[i],end="")

Hello World

In [1]:
# while loop
# while <conditions>:
#       <operations>

a = 0
while a<5:
    print(a,'Hello World')
    a = a+1

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [2]:
a = 1
while a<5:
    print(a,'Hello World')
    a = a+2

1 Hello World
3 Hello World

In [3]:
a = 0
s = 0
n = int(input('Enter n ='))
while a<n:
    x = int(input('Enter x ='))
    s = s+x
    a = a+1
    
print(s)

Enter n =4
Enter x =50
Enter x =50
Enter x =50
Enter x =50
200

In [4]:
# mulitipication table using while loop
n = 1
x = int(input('Enter x ='))
while n<=10:
    print(x,'*',n,'=',x*n)
    n = n+1

Enter x =5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [6]:
i = 1
s = str()
n = int(input('Enter n ='))
while i<=n:
    name = input("Enter name =")
    phone = input("Enter phone =")
    s = s+name+'---'+phone+'\n'
    i = i+1
print(s)

Enter n =3
Enter name =Ram
Enter phone =22222
Enter name =Shyam
Enter phone =55555
Enter name =Hari
Enter phone =99999
Ram---22222
Shyam---55555
Hari---99999

In [ ]:
# Control Statements
# break
# continue
# pass

In [2]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4