In [ ]:
# Set
# -Non Indexed
# -Unordered 
# -No Duplicate
# -Mutable

In [1]:
a = set()
b = {"Apple","Ball","Cat"}
print(b)

{'Ball', 'Apple', 'Cat'}

In [4]:
#No Duplicate
a = {1,2,1,1,1,2,2,3,3,5,6,8,8}
print(a)

{1, 2, 3, 5, 6, 8}

In [5]:
# WAP to make a set
a = set()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    a.add(name)

print(a)

Enter n = 5
Enter name = 1
Enter name = 1
Enter name = 2
Enter name = 2
Enter name = 3
{'3', '2', '1'}

In [6]:
# Update
a = {"Ball","Apple","zebra","Tomato"}
b = {"Cat","Bat"}
a.update(b)
print(a)

{'Ball', 'Cat', 'Bat', 'Tomato', 'zebra', 'Apple'}

In [7]:
# Union
a = {"Ball","Apple","zebra","Tomato"}
b = {"Cat","Bat"}
a.union(b)

{'Apple', 'Ball', 'Bat', 'Cat', 'Tomato', 'zebra'}

In [8]:
for i in a:
    print(i)

Ball
Tomato
Apple
zebra

In [10]:
a = {"Ball","Apple","zebra","Tomato"}
a.add("Fish")
print(a)

{'zebra', 'Apple', 'Ball', 'Tomato', 'Fish'}

In [11]:
a.remove("Apple")
print(a)

{'zebra', 'Ball', 'Tomato', 'Fish'}

In [15]:
# set to list to set
a = {"Ball","Apple","zebra","Tomato"}
b = list(a)
print(b)
set(b)

['Ball', 'Tomato', 'Apple', 'zebra']

{'Apple', 'Ball', 'Tomato', 'zebra'}

In [24]:
a = {"Ram","Shyam","Nabin","Sita"}
b = {"Ram","Nabin","Nita"}
print(a.union(b))
print(a.intersection(b))

{'Ram', 'Shyam', 'Nita', 'Nabin', 'Sita'}
{'Ram', 'Nabin'}

In [22]:
# intersection
a = {"Ram","Shyam","Nabin","Sita"}
b = {"Ram","Nabin","Nita"}
a.intersection(b)

{'Nabin', 'Ram'}

In [28]:
# difference
a = {"Ram","Shyam","Nabin","Sita"}
b = {"Ram","Nabin","Nita"}
print(a.difference(b))
print(b.difference(a))

{'Shyam', 'Sita'}
{'Nita'}

In [30]:
a = {"Ram","Shyam","Nabin","Sita"}
b = {"Ram","Nabin","Nita"}
c = {"Ram"}
print(a.union(b,c))
print(a.intersection(b,c))

{'Ram', 'Shyam', 'Nita', 'Nabin', 'Sita'}
{'Ram'}

In [32]:
a = {"Ram","Shyam","Nabin","Sita"}
b = {"Ram","Nabin","Nita"}
c = {"Ram","Gita"}
ab = a.intersection(b)
x = ab.difference(c)
print(x)

{'Nabin'}

In [36]:
engineers = {"Ram","Shyam","Hari","Sita","Gita"}
company1 = {"Ram","Hari"}
company2 = {"Sita","Ram"}
employed = company1.union(company2)
print(employed)
unemployed = engineers.difference(employed)
print(unemployed)

{'Ram', 'Sita', 'Hari'}
{'Gita', 'Shyam'}

In [40]:
a = {1,2,3,4,5,6,7,8,9,0}
b = {2,4,6,8,0}
print(b.issuperset(a))
print(b.issubset(a))
print(a.issubset(b))
print(b.issubset(a))

False
True
False
True

In [41]:
a = [1,1,1,1,2,2,2,3,3,33,5,5,5,6,6,6,6,7,7,9,0,0,0]
print(set(a))

{0, 1, 2, 3, 33, 5, 6, 7, 9}