In [ ]:
# # Tuple
# -Indexed
# -Ordered
# -Duplicate Members
# -Imutable

In [1]:
a = ("Apple","Ball","Cat","Dog")
print(type(a))

<class 'tuple'>

In [2]:
a = ("Apple")
print(type(a))
a = ("Apple",)
print(type(a))

<class 'str'>
<class 'tuple'>

In [3]:
a = ("Apple","Ball","Cat","Dog")
print(a[0])
print(a[0:3])
print(a[0:100:2])

Apple
('Apple', 'Ball', 'Cat')
('Apple', 'Cat')

In [5]:
a = ("Apple","Ball","Cat","Dog")
b = ("Fish",)
c = a+b
print(c)

('Apple', 'Ball', 'Cat', 'Dog', 'Fish')

In [6]:
a = ("Apple","Ball","Cat","Dog","Apple")
a[0:2] + a[4:]

('Apple', 'Ball', 'Apple')

In [7]:
# Can't use on Tuple -- del remove() pop() sort() reverse() append() insert() extend()

In [8]:
a = ("Apple","Ball","Cat","Dog")
if "Apple" in a:
    print("Yes")

Yes

In [9]:
a = ("Apple","Ball","Cat","Dog")
for i in a:
    print(i)

Apple
Ball
Cat
Dog

In [10]:
a = ("Apple","Ball","Cat","Dog","Apple")
b = sorted(a)
print(b)

['Apple', 'Apple', 'Ball', 'Cat', 'Dog']

In [13]:
a = ("Apple","Ball","Cat","Dog", "Apple")
b = list(a)
del b[2]
a = tuple(b)
print(a)

('Apple', 'Ball', 'Dog', 'Apple')

In [14]:
a = ("Apple","Ball","Cat","Dog", "Apple")
sorted(a)

['Apple', 'Apple', 'Ball', 'Cat', 'Dog']

In [16]:
x = ()
a = (1,2,3)
b = (4,5,6)
c = x+(a,)+(b,)
print(c)

((1, 2, 3), (4, 5, 6))

In [17]:
# WAP to make a tuple
a = ()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = input("Enter age = ")
    add = input("Enter add = ")
    a = a+((name,age,add),)
print(a)

Enter n = 2
Enter name = Ram
Enter age = 77
Enter add = Ktm
Enter name = Shyam
Enter age = 44
Enter add = Bhaktapur
(('Ram', '77', 'Ktm'), ('Shyam', '44', 'Bhaktapur'))

In [18]:
a = (('Ram', '77', 'Ktm'), ('Shyam', '44', 'Bhaktapur'))
name = input("Enter name = ")
for i in a:
    if name in i:
        print(i)

Enter name = Ram
('Ram', '77', 'Ktm')

In [19]:
# tuple() to list[]
a = (('Ram', '77', 'Ktm'), ('Shyam', '44', 'Bhaktapur'))
b = list(a)
print(b)

[('Ram', '77', 'Ktm'), ('Shyam', '44', 'Bhaktapur')]

In [20]:
# tuple inside list
a = [('Ram', '77', 'Ktm'), ('Shyam', '44', 'Bhaktapur')]
a.append(("Hari","34","Patan"))
print(a)

[('Ram', '77', 'Ktm'), ('Shyam', '44', 'Bhaktapur'), ('Hari', '34', 'Patan')]

In [21]:
# delete
a = [('Ram', '77', 'Ktm'), ('Shyam', '44', 'Bhaktapur'), ('Hari', '34', 'Patan')]
del a[-1]
print(a)

[('Ram', '77', 'Ktm'), ('Shyam', '44', 'Bhaktapur')]

In [22]:
[('Ram', '77', 'Ktm'), ('Shyam', '44', 'Bhaktapur'), ('Hari', '34', 'Patan')]
a[0][0]

'Ram'

In [23]:
z = []
a =(('Ram', '77', 'Ktm'), ('Shyam', '44', 'Bhaktapur'), ('Hari', '34', 'Patan'))
b = list(a)
for i in b:
    z.append(list(i))
print(z)

[['Ram', '77', 'Ktm'], ['Shyam', '44', 'Bhaktapur'], ['Hari', '34', 'Patan']]